* {
  margin: 0;
  padding: 0;

}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* stops horizontal scroll */
}

/*navbar start */
.navbar {
  background: linear-gradient(to bottom, rgb(27, 112, 27), #153121);


  color: white;
}

/* logo name */
.navbar-brand {
  font-family: 'Cinzel Decorative', serif;
  font-size: 30px;
  font-weight: 700;
  color: #D4AF37 !important;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.navbar-brand:hover {
  color: #ff9d00 !important;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
}




/* Navbar links default */
.navbar .nav-link {
  color: #F5F5DC !important;
  font-weight: 500;
  margin-left: 12px;
  position: relative;
  transition: color 0.3s ease;
}

/* Hover text color */
.navbar .nav-link:hover {
  color: #FFD700 !important;
}

/* Underline effect */
.navbar .nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: #FFD700;
  transition: width 0.3s ease;
}


.navbar .nav-link:hover::after {
  width: 100%;
}

.navbar .nav-link.active::after {
  width: 100%;
}

/*navbar end */






/* slidebar */
.carousel-item img {
  height: 500px;
  width: 100%;
}

/* Slider Title */

.carousel-item h2 {
  font-family: "Cinzel Decorative", serif;
  font-size: 36px;
  font-weight: 700;
  color: #d4af37;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Slider Subtitle */
.carousel-item p {
  font-family: "Cinzel", serif;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}
.button {
    display: flex;                  
    flex-wrap: wrap;                
    justify-content: center;        
    padding: 20px;                
}

/* marque */
.marque{
    padding: 2px;
    margin: 8px;
    background-color:yellowgreen;
    
}


.btn {
    display: inline-block;          
    padding: 10px 20px;             
    background-color: orange;      
    color: white;                   
    text-decoration: none;          
    border-radius: 8px;             
    font-size: 16px;                
    font-weight: 500;               
    transition: all 0.3s ease; 
    margin: 6px;     
}

/* Hover effect */
.btn:hover {
    background-color: green;      
    transform: scale(1.05); 
    color: black;        
}


@media (max-width: 768px) {
    .buttons{
        flex-direction: column;     
        align-items: center;
    }

    .btn {
        width: 80%;                 
        text-align: center;
    }
}

h3{
  color: brown;
}


button {
  border: none;
  outline: none; 
  background: none;
}



/*  */
#purandar{
  width: 100%;
  height: auto;
  border-radius: 12px;
  transition: all 0.3s ease;
}


/* Apply transition to the whole purandar section */
#purandar {
    background: #f9f9f9;
    padding: 20px;
    transition: transform 0.8s ease, background 0.8s ease;
    

}

/* Hover effect for section */
#purandar:hover {
    transform: scale(1.02);
    background: #f1f1f1;
}

/* Image animation */
#purandar img {
    width: 100%;
    height: 350px;
    border-radius: 12px;
    transition: transform 0.6s ease, box-shadow 0.6s ease;
      border: 3px solid #d4af37;
}

/* Hover effect for image */
#purandar img:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 20px rgba(0,0,0,0.3);
}
.purandarimg {
  width: 100%;
  height: auto;
  border-radius: 12px;
  transition: all 0.3s ease;
}



/* button */
.map-btn {
    display: inline-block;
    margin: 10px;
    padding:  15px;
    font-size: 16px;
    color: white;
    background: brown;
    border-radius: 10px;
    text-decoration: none;
    transition: box-shadow 0.4s ease, transform 0.4s ease;
}

.map-btn:hover {
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    transform: translateY(3px);
    color: white;
}
.map-btn:active {
    transform: translateY(1px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}


#purandar{
  width: 100%;
  height: auto;
  border-radius: 12px;
  transition: all 0.3s ease;
}


/* Apply transition to the whole shivneri section */
#shivneri {
    background: #f9f9f9;
    padding: 20px;
    transition: transform 0.8s ease, background 0.8s ease;
}

/* Hover effect for section */
#shivneri:hover {
    transform: scale(1.02);
    background: #f1f1f1;
}

/* Image animation */
#shivneri img {
    width: 100%;
    height: 350px;
    border-radius: 12px;
    transition: transform 0.6s ease, box-shadow 0.6s ease;
     border: 3px solid #d4af37;
}

/* Hover effect for image */
#shivneri img:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 20px rgba(0,0,0,0.3);
}
.shivneriimg {
  width: 100%;
  height: auto;
  border-radius: 12px;
  transition: all 0.3s ease;
}

/* Apply transition to the whole sinhagad section */
#sinhagad{
    background: #f9f9f9;
    padding: 20px;
    transition: transform 0.8s ease, background 0.8s ease;
}

/* Hover effect for section */
#sinhagad:hover {
    transform: scale(1.02);
    background: #f1f1f1;
}

/* Image animation */
#sinhagad img {
    width: 100%;
    height: 350px;
    border-radius: 12px;
    transition: transform 0.6s ease, box-shadow 0.6s ease;
      border: 3px solid #d4af37;
}

/* Hover effect for image */
#sinhagad img:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 20px rgba(0,0,0,0.3);
}
.sinhagadimg {
  width: 100%;
  height: auto;
  border-radius: 12px;
  transition: all 0.3s ease;
}



/* Apply transition to the whole  tikona section */
#tikona {
    background: #f9f9f9;
    padding: 20px;
    transition: transform 0.8s ease, background 0.8s ease;
}

/* Hover effect for section */
#tikona:hover {
    transform: scale(1.02);
    background: #f1f1f1;
}

/* Image animation */
#tikona img {
    width: 100%;
    height: 350px;
    border-radius: 12px;
    transition: transform 0.6s ease, box-shadow 0.6s ease;
      border: 3px solid #d4af37;
}

/* Hover effect for image */
#tikona img:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 20px rgba(0,0,0,0.3);
}
.tikonaimg {
  width: 100%;
  height: auto;
  border-radius: 12px;
  transition: all 0.3s ease;
}




/* Apply transition to the whole harishchandragad section */
#harishchandragad {
    background: #f9f9f9;
    padding: 20px;
    transition: transform 0.8s ease, background 0.8s ease;
}

/* Hover effect for section */
#harishchandragad:hover {
    transform: scale(1.02);
    background: #f1f1f1;
}

/* Image animation */
#harishchandragad img {
    width: 100%;
    height: 350px;
    border-radius: 12px;
    transition: transform 0.6s ease, box-shadow 0.6s ease;
     border: 3px solid #d4af37;
}

/* Hover effect for image */
#harishchandragad img:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 20px rgba(0,0,0,0.3);
}
.harishchandragadimg {
  width: 100%;
  height: auto;
  border-radius: 12px;
  transition: all 0.3s ease;
}



/* Apply transition to the whole korigad section */
#korigad {
    background: #f9f9f9;
    padding: 20px;
    transition: transform 0.8s ease, background 0.8s ease;
}

/* Hover effect for section */
#korigad:hover {
    transform: scale(1.02);
    background: #f1f1f1;
}

/* Image animation */
#korigad img {
    width: 100%;
    height: 350px;
    border-radius: 12px;
    transition: transform 0.6s ease, box-shadow 0.6s ease;
      border: 3px solid #d4af37;
}

/* Hover effect for image */
#korigad img:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 20px rgba(0,0,0,0.3);
}
.korigadimg {
  width: 100%;
  height: auto;
  border-radius: 12px;
  transition: all 0.3s ease;
}



/* Apply transition to the whole panhala section */
#panhala {
    background: #f9f9f9;
    padding: 20px;
    transition: transform 0.8s ease, background 0.8s ease;
}

/* Hover effect for section */
#panhala:hover {
    transform: scale(1.02);
    background: #f1f1f1;
}

/* Image animation */
#panhala img {
    width: 100%;
    height: 350px;
    border-radius: 12px;
    transition: transform 0.6s ease, box-shadow 0.6s ease;
      border: 3px solid #d4af37;
}

/* Hover effect for image */
#panhala img:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 20px rgba(0,0,0,0.3);
}
.panhalaimg {
  width: 100%;
  height: auto;
  border-radius: 12px;
  transition: all 0.3s ease;
}





/* text animation */


.text h3{ 
 font-weight: 600;
    font-size: 35px;
}



.footer {
  background: linear-gradient(to right, #14532d, #064e3b); 
  color: #F5F5DC;
  padding: 40px 0 20px;
  margin-top: 50px;
}

.footer h5 {
  color: #D4AF37;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
}

.footer p, .footer a {
  font-size: 14px;
  color: #F5F5DC;
}

.footer a {
  text-decoration: none;
  transition: 0.3s;
}

.footer a:hover {
  color: #FFD700; 
}


.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

/* Divider */
.footer-line {
  border-color: rgba(255, 255, 255, 0.2);
  margin: 20px 0;
}

/* Responsive */
@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
  .footer .col-md-4 {
    margin-bottom: 20px;
  }
}
